/Library/*
/Temp/*
/.vs/*
/obj/*
.vs/Nurture/v15/Server/sqlite3/storage.ide-wal
.vs/Nurture/v15/Server/sqlite3/storage.ide-shm
.vs/Nurture/v15/Server/sqlite3/storage.ide
.vs/Nurture/v15/Server/sqlite3/db.lock
.vs/Nurture/v15/.suo
Library/shadercompiler-UnityShaderCompiler.exe0.log
