/Library/*
/Temp/*
/.vs/*
/obj/*
*.log
Library/assetDatabase3
Unity.TextMeshPro.Editor.csproj
Unity.TextMeshPro.csproj
Unity.PackageManagerUI.Editor.csproj
Unity.CollabProxy.Editor.csproj
Unity.Analytics.DataPrivacy.csproj
Nurture.sln
Nurture.csproj
